* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  @font-face {
   font-family: "Open Sans";
   src:url(../fonts/OpenSans-Regular.woff);
   font-weight: 400;
   font-style: normal;
  }
  
  @font-face {
   font-family: "Open Sans";
   src:url(../fonts/OpenSans-Bold.woff);
   font-weight: 700;
   font-style: normal;
  }
  
  body {
    font-family: "Open Sans", sans-serif;
  }

      
  .wrapper {
    margin: 0 auto;
  }
  
  /*---header---*/
  
  .container {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
  }
  
  .container {
    padding: 30px 15px 0px;
    max-width: 1200px;
    color: #ffffff;
    text-align: center;
  }
  
  .container::after {
    content: "";
    background-color: #000000;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.6;
    z-index: -1;
  }
  
  .menu-list {
    margin-top: 0;
    margin-bottom: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
  }
  
  .menu-link {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 400;
    color: #ffffff;
  }
  
  .header {
    background-repeat: no-repeat;
    background-position: left top;
    background-color: #000000;
    position: relative;
    background-size: cover;
    z-index: 0;
  }
  
  .header-logo {
    width: 180px;
  }
  
  .menu {
    margin-top: 11px;
  }
  
  .menu-list-item:nth-child(n+2) {
    margin-left: 35px;
  }
  
  .welcome-title {
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    margin: auto;
    max-width: 700px;
    font-size: 45px;
    font-weight: 700;
    line-height: 1.67;
    padding-top: 100px;
    padding-bottom: 130px;
    color: #ffffff;
  }

  @media (min-width: 1201px) {
    .header {
      background-image: url(../images/banner-bg.jpg);
    }
  }
  
  @media (min-width: 641px) and (max-width: 1200px) {
    .header {
      background-image: url(../images/banner-bg-tablet.jpg);
    }
    .menu {
      display: none;
    }
    .burger-menu {
      width: 23px;
      height: 20px;
      margin-top: auto;
      margin-bottom: auto;
      margin-right: 35px;
    }

    .burger-menu-link {
      content: "";
      display: block;
      position: relative;
      margin-bottom: 5px;
      width: 23px;
      height: 3px;
      background: #f4f7f6;
    }

    .welcome-title {
      font-size: 40px;
    }
  }

  @media (max-width: 640px) {

    .header {
      background-image: url(../images/banner-mobile.jpg);
    }
    .header-logo {
      display: block;
      width: 270px;
      margin-top: 225px;
      margin-left: auto;
      margin-right: auto;
    }
    .menu {
      display: none;
    }
    .burger-menu {
      width: 23px;
      height: 20px;
      margin-top: 25px;
      margin-right: 25px;
    }

    .burger-menu-link {
      content: "";
      display: block;
      position: relative;
      margin-bottom: 5px;
      width: 23px;
      height: 3px;
      background: #f4f7f6;
    }

    .welcome-title {
      font-size: 26px;
      width: 280px;
      padding-top: 40px;
      padding-bottom: 220px;
    }
  }
  
  /*---trends now---*/

  .trends_now-name {
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    margin: auto;
    font-weight: 700;
    font-size: 20px;
    margin-top: 58px;
    }
  
  .trends_now-name::after {
    content: "";
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 12px;
    margin-bottom: 28px;
    width: 66px;
    height: 3px;
    background: #b59f5b;
  }

  .trends {
    display: flex;
    width: 100%;
    gap: 3px;
    }

  .trends-news {
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-position: left top;
    background-color: #000000;
    position: relative;
    background-size: cover;
    z-index: 0;
    display: flex;
    align-items: flex-end;
  }

  @media (min-width: 1201px) {
    .trends-news {
      width: 25vw;
      height: 320px;
    }
    .trends-name {
      font-size: 20px;
      line-height: 1.2;
    }
  }

  @media (min-width: 641px) and (max-width: 1200px) {
    .trends-news {
    width: calc(50% - 2px);
    height: 245px;
    }
    .trends-name {
      font-size: 17px;
      line-height: 1.3;
    }
    .trends {
      flex-wrap: wrap;
      }
  }

  @media (max-width: 640px) {
    .trends-news {
      width: 100vw;
      height: 230px;
    }
    .trends-name {
      font-size: 16px;
      line-height: 1.25;
    }
    .trends {
      flex-wrap: wrap;
      }
  }

  .garden {
    background-image: url(../images/trend1.jpg);
  }

  .cheese {
    background-image: url(../images/trend2.jpg);    
  }

  .mountains {
    background-image: url(../images/trend3.jpg);      
  }

  .lemons {
    background-image: url(../images/trend4.jpg);
  }

  .trends-news::after {
    content: "";
    background-color: #000000;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.6;
    z-index: -1;
  }

  .trends-link {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    color: #ffffff;
  }

  .trends-info {
    margin: 15px 20px;
    padding: 37px 25px;
    border: 3px solid #807741;
  }

  /*---main---*/
  
  .main-part {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    margin-top: 65px;
    display: flex;
    flex-wrap: wrap;
  }
  
  main {
    max-width: 780px; 
  }
  
  .news {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    margin: 0 0 58px 0;
  }
  
  .tags-list {
    margin-top: 0;
    margin-bottom: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
  }
  
  .tags-link {
    text-decoration: none;
    text-transform: uppercase;
    align-items: flex-start;
    font-size: 14px;
    font-weight: 700;
    color: #b59f5b;
  }
  
  .tags-list-item:nth-child(n+2) {
    margin-left: 20px;
  }
  
  .news-preview {
    box-sizing: border-box;
    max-width: 367px;
    margin-right: 30px;
    }
  
  .news-info {
    box-sizing: border-box;
    width: 367px;
    padding: 0px 0px;
  }
  
  .news-name {
    font-size: 20px;
    font-weight: 700;
    padding: 15px 0 36px;
    line-height: 1.2;
    text-transform: uppercase;
  }
  
  a {
    text-decoration: none;
    color: #0f0d0e;
  }
  
  .date {
    font-size: 12px;
    font-weight: 400;
    color: #888888;
    margin-right: 15px;
  }
  
  .author {
    font-size: 12px;
    font-weight: 700;
  }
  
  .news-content {
    font-size: 15px;
    font-weight: 400;
    padding-top: 54px;
    line-height: 1.47;
  }
  .news-content p {
    margin-bottom: 20px;
  }
  
  @media (min-width: 641px) and (max-width: 1200px) {
    main {
      min-width: 370px; 
    }
    .news {
      flex-direction: column;
      margin-left: 35px;
      margin-right: 35px;
    }
    .news-content::after {
      content: "";
      display: block;
      position: relative;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 40px;
      width: 367px;
      height: 3px;
      background: #eeeeee;
    }
  }

  @media (max-width: 640px) {
    .main-part {
      width: 100%;
      margin-left: 15px;
      margin-right: 15px;
    }
    main {
      width: 100%;

    }
    .news {
      width: 100%; 
      margin: 0;
    }
    .news-preview {
      max-width: 100%;
    }
    .news-content::after {
      content: "";
      display: block;
      position: relative;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 40px;
      width: 367px;
      height: 3px;
      background: #eeeeee;
    }
  }
  
  /*---aside---*/
  
  aside {
    max-width: 272px;
    margin-left: 120px;
  }

  .new-posts {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    margin: 0 0 21px 0;
  
  }
  
  .new-posts-name {
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    margin: auto;
    font-size: 14px;
    font-weight: 700;
   }
  
  .new-posts-name::after {
    content: "";
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 12px;
    margin-bottom: 28px;
    width: 66px;
    height: 3px;
    background: #b59f5b;
  }
  
    .new-post-preview {
    box-sizing: border-box;
    width: 70px;
    }
  
  .new-post-info {
    box-sizing: border-box;
    width: 180px;
    padding: 0px 0px;
    vertical-align: top;
  }
  
  .new-post-name {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;  
  }
  
  @media (min-width: 641px) and (max-width: 1200px) {
   
    .main-part {
      flex-wrap: nowrap;
    }

    aside {
      margin-left: 35px;
      margin-right: 35px;
    }
  }

  @media (max-width: 640px) {
    aside {
      max-width: 100%;
      margin-left: 15px;
      margin: 0px 15px;
    }
    .new-post-info {
      width: 240px;
    }
  }

  /*---form & botton---*/
  
  .search {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    margin: 37px 0 30px 0;
  }
  
  .field {
    box-sizing: border-box;
    width: 220px;
    background-color: #f4f7f6;
    border: none;
    color: #000000;
    padding: 15px 20px 15px 20px;
    margin: 0;
  }
    
  .button {
    box-sizing: border-box;
    border: none;
    width: 47px;
    height: 47px;
    cursor: pointer;
    background-color: #b59f5b;
    background-image: url(../svg/search.svg);
    background-repeat: no-repeat;
    background-size: 16px;
    background-position: center;
  }
  
  
  .email {

    margin: 17px 0 30px 0;
  }
  
  .email-field {
    box-sizing: border-box;
    width: 270px;
    background-color: #f4f7f6;
    border: none;
    color: #000000;
    padding: 15px 20px 15px 20px;
    margin-bottom: 17px;
  }
    
  .subscribe {
    box-sizing: border-box;
    border: none;
    width: 270px;
    height: 47px;
    cursor: pointer;
    background-color: #b59f5b;
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;  
  }
  
  .tags-group-list {
    box-sizing: border-box;
    border: 3px solid #eeeeee;
    padding: 7px 13px;
    margin: 3px 1px;
    cursor: pointer;
    background-color: #ffffff;
    color: #0f0d0e;
    font-size: 12px;
    font-weight: 700;  
    text-transform: uppercase;
    text-decoration: none;
  }
  
  @media (max-width: 640px) {

    .email-field {
      width: 100%;  
      margin: auto; 
    }
    .subscribe {
      width: 100%;  
      margin: auto; 
    }
    .field {
      width: 100%;  
      margin: auto; 
    }
  }

  /*---team---*/
  
  .team-name {
    margin-top: 60px;
  }
  
  .team-list {
    list-style: none;
  }
  
  .team-link {
    text-decoration: none;
    text-transform: capitalise;
    align-items: center;
    align-content: space-between;
    font-size: 14px;
    font-weight: 700;
    color: #000000;
    padding: 0 5px 0 0;
  }
  
  .team-list-item {
    margin-top: 14px;
    margin-left: 3px;
  }
  
  .team-list-item::after {
    content:"";
    display: block;
    position: relative;
    margin-top: 14px;
    width: 100%;
    height: 1px;
    background: #eeeeee;
  }
  
  .team-list-count {
    display: inline-block;
    vertical-align: top;
    font-size: 12px;
    color: #b59f5b;
  }
  /*----shop----*/

  .shop {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    margin-top: 65px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .price-box {
    height: 47px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: flex-end;
  }

  .price {
    width: 160px;
    height: 47px;
    display: inline-block;
    margin-left: 20px;
  }

  .product-oldprice {
    width: 160px;
    height: 14px;
    text-decoration: line-through;
    font-size: 14px;
    font-weight: 700;
  }

  .product-price {
    font-size: 20px;
    font-weight: 700;
    width: 160px;
  }

  .button-buy {
    box-sizing: border-box;
    border: none;
    width: 140px;
    height: 47px;
    cursor: pointer;
    background-color: #b59f5b;
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
  }

  .video-link {
    color: #b59f5b;
  }

  .product-name {
    margin: 54px 19px 14px;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 20px;
  }

  .news-text {
    margin: 0px 19px 25px;
    font-size: 15px;
  }
  
  @media (min-width: 1201px) {
    .product-preview {
      max-width: 300px;
      height: 203px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: -30px;
    }
    .product-info {
      width: 348px;
      height: 266px;
      box-sizing: border-box;
      border: 3px solid #b59f5b;
    }
  }
  
  @media (min-width: 641px) and (max-width: 1200px) {
    .shop {
      margin-left: 35px;
      margin-right: 35px;
    }
    .product {
      margin-top: 25px;
      width: 48%;
    }
    .frame {
      flex-direction: column;
    } 

    .product-preview  {
      max-width: 290px;
      height: 225px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: -30px;
    }
    .product-info {
      width: 100%;
      height: 264px;
      box-sizing: border-box;
      border: 3px solid #b59f5b;
    }
  }

  @media (max-width: 640px) {
    .product {
      margin-bottom: 25px;
      width: 100%;
    }
    
    .product-preview  {
      background-image: url(../images/shop-item-mobile1.jpg);
      max-width: 280px;
      height: 283px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: -30px;
    }
    .product-info {
      width: 100%;
      height: 260px;
      box-sizing: border-box;
      border: 3px solid #b59f5b;
    }
  }

  /*----footer----*/
  
  .footer {
    margin-top: 60px;
  }
  
  .footer-block {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
  }
  
  .social-networks {
    margin-bottom: 20px;
    background-color: #f4f7f6;
    padding: 30px 0;
  }
  
  .social-networks-icon {
    display: block;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: center;
    padding: 20px 30px;
  }
  
  .social-icon-dribbble {
    background-image: url(../svg/001-dribbble.svg);
  }
  
  .social-icon-pinterest {
    background-image: url(../svg/001-pinterest.svg);
  }
  
  .social-icon-tumblr {
    background-image: url(../svg/003-tumblr.svg);
  }
  
  .social-networks-list {
    list-style: none;
    display: flex;
    justify-content: center;  
  }
  
  .hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  
  .developer {
    text-decoration: none;
    text-align: center;
    color: #999999;
    font-size: 12px;
  }

    /*----Popup----*/

  .popup-after {
    margin-top: 40px;
    display: none;
  }
  .popup {
    max-width: 390px;
    height: 590px;
    padding: 30px;
    margin: auto;
    font-size: 13px;
    position: fixed;
	  top: 0;
	  right: 0;
	  bottom: 0;
	  left: 0;
	  z-index: 9999;	
	  display: flex;
	  justify-content: center;
	  align-items: center;
    background-color: #ffffff;
  }

  .feedback-title {
    display: block;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
  }
  
  .feedback-title::after {
    content: "";
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 12px;
    margin-bottom: 28px;
    width: 66px;
    height: 3px;
    background: #b59f5b;
  }

  .select {
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
    height: 45px;
    padding-left: 20px;
    padding-right: 15px;
    margin: 10px 0 35px 0;
    background-color: #f4f7f6;
    border: none;
    font-size: 13px;
    color: #000000;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url(../svg/form-arrows.svg);
    background-repeat: no-repeat;
    background-position: right 5px center;
    background-size: 10px;
  }
  
  .radiobutton-text {
    display: inline-block;
    vertical-align: middle;
    margin-top: 10px;
  }

  .radio-button {
    vertical-align: middle;
    margin-right: 36px;
  }

  .radiobutton-text::before {
    content: "";
    display: inline-block;
    vertical-align: center;
    width: 16px;
    height: 16px;
    background-image: url(../svg/form-empty-circle.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 16px;
    margin-bottom: -3px;
    margin-right: 3px;
  }

  .radiobutton:checked + .radiobutton-text::before {
    background-image: url(../svg/form-circle.svg);
  }

  .radiobutton {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px,);
    height: 1px;
    width: 1px;
  }

  .form-group {
    margin-bottom: 30px;
  }

  .field-textarea {
    width: 330px;
    min-height: 130px;
    margin-top: 10px;
    background-color: #f4f7f6;
    border: none;
    padding: 20px;
    -webkit-appearance: none;
    -moz-appearance: none;
  }

  .button-send {
    box-sizing: border-box;
    border: none;
    width: 330px;
    height: 47px;
    cursor: pointer;
    background-color: #b59f5b;
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;  
    margin-top: 25px;
  }

  .popup-close {
    width: 18px;
    height: 18px;
    position: absolute;
    right: 0;
    top: -20px;
    background-color: transparent;
    background-image: url(../svg/form-x.svg);
    background-repeat: no-repeat;
    background-size: 18px;
    border: none;
    padding: 0;
    cursor: pointer;
  }
  .popup-after::after {
    content: "";
    background-color: #000000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.6;
    z-index: 2;
  }



  @media (max-width: 640px) {
    .popup {
      font-size: 13px;
    }
    .feedback-title {
      font-size: 20px;
    }
    .button-send {
      font-size: 14px;
    }
    .radiobutton-text::before {
      width: 25px;
      height: 25px;
      background-size: 25px;
    }
    .popup-close {
      width: 30px;
      height: 30px;
      top: -35px;
      background-size: 30px;
    }


  }
